extends ../layouts/main-layout.pug
block style
    link(rel="stylesheet", href="/css/product.css")
    link(rel="stylesheet", href="/css/forms.css")
    
block content
    //- form to add product and to edit product
    main
        if errorMessage.length>0 
            div(class="user-message user-message--error") #{errorMessage}
        form.product-form(action="/SignUp",method="POST" novalidate)
            .form-control
                label(for="email") Email-id 
                input(type="email",name="email",id="email" value=oldInput.email)

            .form-control
                label(for="password") Password
                input(type="password",name="password",id="password" value=oldInput.password)

            .form-control
                label(for="confirmPassword") Confirm Password
                input(type="confirmPassword",name="confirmPassword",id="confirmPassword" value=oldInput.confirmPassword)
            input(type="hidden" name="_csrf" value=csrfToken)
            button(type="submit") SignUp

